//VARIABLES
$brand-main:    #6600CC
$brand-sub:     #CC66FF
$brand-dark:    #333
$brand-light:   #E6F2FF

//MIXINS

//SYLES
body
  background-color: $brand-light

section
  background: $brand-sub
  color: $brand-dark
  width: 780px
  margin: auto
  padding: 20px
